body {
    font-family: Arial, sans-serif;
    background-color: #5c5c5c;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header span {
    font-size: 18px;
    font-weight: bold;
}

.header img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #107acc;
}

.image img {
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 8px;
    margin: 20px 0;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.catalogo div {
    background-color: #107acc;
    color: white;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.catalogo div img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.catalogo div span {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
        width: 90%;
    }

    h1 {
        font-size: 1.6rem;
    }

    .catalogo {
        grid-template-columns: repeat(2, 1fr);
    }

    .header span {
        font-size: 16px;
    }
}
